.DS_Store
boat_pcb_v2/WN_power_board/~WaterNetPowerBoard.kicad_pcb.lck
boat_pcb_v2/WN_power_board/~WaterNetPowerBoard.kicad_sch.lck
boat_pcb_v2/WN_power_board/WaterNetPowerBoard-backups
boat_pcb_v2/WN_com_board/~com_board.kicad_pcb.lck
boat_pcb_v2/WN_com_board/~com_board.kicad_sch.lck
boat_pcb_v2/WN_com_board/com_board-backups
boat_pcb_v2/WN_sensor_board/~sensor_board.kicad_pcb.lck
boat_pcb_v2/WN_sensor_board/~sensor_board.kicad_sch.lck
boat_pcb_v2/WN_sensor_board/sensor_board-backups
WaterNet26_Library_backup